/* extra parameters for this page on content container */
.content-container {
    min-height: 77dvh;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

/* text container */
.header {
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.header span {
    font-size: 1.2rem;
    font-weight: 400;
}

/* colourful text */
.header h1 {
    font-size: 4rem;
    font-weight: 600;
}
.pronounced {
    font-size: 0.9rem;
    font-weight: 100;
}

.divider {
	height: 1rem;
}

.music-adv {
    font-size: 1rem;
    font-weight: 100;
}

.music-adv a:hover {
    color: rgb(255, 57, 100);
}

/* hero image */
.image-container {
    height: 100%;
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 25rem;
    width: 25rem;
    margin: -2rem 0;
    border-radius: 50%;
}

/* Smaller screen */
@media (max-width: 970px) {
    .header {
        height: 20rem;
        justify-content: flex-end;
    }

    .header span {
        font-size: 1rem;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .image-container img {
        height: 20rem;
        width: 20rem;
    }
}

/* Small screen */
@media (max-width: 700px) {
    .content-container {
        width: 100%;
        margin: 0;
        flex-direction: column-reverse;
    }

    .header {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        margin: -2rem 0 0 0;
    }

    .image-container {
        width: 100%;
        align-items: flex-end;
    }

    .image-container img {
        height: 16rem;
        width: 16rem;
    }
}
